@use "mixins" as *;
@use "variables" as *;
.modal {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  .title {
    font-weight: bold;
    font-size: 15px;
    margin-right: 5px;
  }
  .row {
    display: flex;
    justify-content: space-between;
    p {
      font-weight: bold;
    }
  }
  button {
    margin-right: 30px;
    @include circle(
      50px,
      $yellow-light,
      1px solid $opacity,
      0 0 5px $yellow-light-opacity
    );
    transform: scale(0.6);
    cursor: pointer;
    img {
      width: 30px;
      height: 30px;
      margin-top: 10px;
    }
  }
  ::ng-deep {
    .background-star {
      background-color: $opacity;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      clip-path: content-box;
      .star {
        top: 4px;
        left: 5px;
      }
    }
    .star {
      transform: scale(1);
    }
    .mdc-linear-progress {
      border-radius: 8px;
    }
    .mat-mdc-tab-body {
      overflow-y: hidden;
    }
    .mat-mdc-tab-body-content {
      padding: 15px;
    }
    tr {
      height: 24px;
    }
    table,
    td,
    tr {
      background-color: transparent !important;
    }
    th,
    mat-paginator {
      background-color: $white;
    }
    .table-wrapper {
      max-height: 500px;
      overflow-y: scroll;
      height: 255px;
      background-color: $opacity;
    }
    .pokemon-card {
      position: relative;
      background: $white-opacity !important;
      filter: unset;
      &:hover {
        border-color: transparent;
        box-shadow: unset;
      }
    }
  }
  .about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
  }
  .content {
    display: flex;
    gap: 5px;
    flex-direction: column;
  }
  .content-stats {
    display: flex;
    align-items: center;
    .title {
      width: 100px;
    }
  }

  .content-types {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    .label-type {
      border: 1px solid $black;
      padding: 4px;
      border-radius: 5px;
    }
  }
}
