<pokedex
  (pageSize)="onPageChange($event)"
  (pageIndex)="onPageIndexChange($event)"
  (favoriteFilter)="onFavoriteFilterChange($event)"
  (searchType)="onFilterPage($event)"
  [count]="pokeService.count"
  [currentPageSize]="pageSize()"
>
  <div class="pokemons-cards">
    @for (pokemon of pokemons(); track pokemon.name) {
    <div class="container">
      <star #star [id]="pokemon.id"></star>
      <pokemon-card
        (click)="onOpenDialog(pokemon)"
        [pokemon]="pokemon"
        [class.favorite-pokemon]="pokeService.favoriteIds().includes(pokemon.id)"
      />
    </div>
    } @empty {
    <img src="404.png" class="error" alt="Não há dados" />
    Não há dados }
  </div>
</pokedex>
