$yellow: #ffc107;
$yellow-medium: #f0c724;
$yellow-light: #ffe066;
$yellow-light-opacity: #d8c974da;
$orange-dark: #ff7300;
$orange: #ca7d3d;
$orange-medium: #ca7d3d;
$yellow-dark-ball: #e0d31546;
$yellow-light-ball: #d5fa03;
$green: #0f0;
$green-ball: #6df01c;
$green-light-ball: #97ff52;
$red: #d41246;
$red-dark: #a10e34;
$red-light-ball: #df041a;
$red-dark-ball: #a6040e;
$red-poke-ball: #fe0001;
$white: #ffffff;
$white-smoke: #f5f5f5;
$white-light: #fafafa;
$white-opacity: #ffffffb3;
$opacity-medium: #ffffff9d;
$gray-light: #444;
$gray-dark: #1d1d1d;
$gray-medium: #555;
$gray: #414141b9;
$opacity: #ffffff49;
$silver: #888888;
$opacity-light: #ffffff5e;
$opacity-dark: #333;
$black: #000;
$black-box-shadow: #0000004d;
$black-opacity: #00000066;
$black-opacity-ball: #00000033;
$cyan: #0ff;
$cyan-ball: #0cbed2;
$cyan-medium-ball: #0aeff8;
$cyan-light-ball: #a5f3f9;
$blue-light: #9ecbff;
$blue-medium: #3d7dca;
$blue-dark: #0877ff;
$rose: #e3e3e3;
$pink: #ffe6fa;
$water-green: #3dcaa0;
$water-green-light: #02ffb3;
$black-medium: #141414;
$blue-opacity: #e3fdf5;
